
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');

* {
  margin: 0;
  font-family: 'Poppins';
  font-size: 16px;
  color: #EEEEEE; 
}

.App-header {
  background: linear-gradient(116.17deg, #E4E1F7 0%, rgba(40, 10, 209, 0.54) 99.07%);  
  min-height: 100vh;
  /* display: flex; */
  width: 100vw;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: hsl(0, 0%, 10%);
}

.App-link {
  color: #61dafb;
}
